body {
  color: #fff;
  background: #e26922;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.svg-basics {
  text-align: center;
}

.svg-session {
  max-width: 400px;
  height: 400px;
  box-sizing: border-box;
  border: 2px solid black;
  background: white;
  margin: 0 auto;
  overflow: hidden;
}

.svg-circle  {
  fill: darkblue;
  stroke: salmon;
  stroke-width: 10;
  stroke-dasharray: 63;
}

.magenta {
  fill: magenta;
  stroke: magenta;
  stroke-width: 30px;
}


.darkblue {
  fill: darkblue;
  stroke: darkblue;
  stroke-width: 30px;
  transition: opacity 1s linear, stroke 1s linear, transform 1s linear;
  transform-origin: 350px 175px;
}

.darkblue:hover {
  cursor: pointer;
  opacity: 0;
  stroke: magenta;
  transform: rotate(60deg);
}


